[submodule "extern/eigen-git-mirror"]
	path = extern/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
	branch = branches/3.3
[submodule "extern/curl"]
	path = extern/curl
	url = https://github.com/curl/curl
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
